#banner {
    background-color: var(--banner-background-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -8px;
    left: -8px;
    width: 101.4%
}

.banner__link {
    color: white;
    background-color: var(--banner-background-color);
    margin-left: 0.3em;
}

:root {
    --banner-background-color: rgb(90,165,248);
}
