
@import url(components/banner.css);
@import url(components/header.css);
@import url(components/homepage.css);



* {
    background-color: var(--file-background-color);
}

* {
    box-sizing: border-box;
    font-family: Calibre, Helvetica, Arial, sans-serif;
}

button:hover {
    cursor: pointer;
}

:root {
    --file-background-color: rgb(243, 242, 239);
}
